<!--
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{ product.imageUrl }}" alt="{{ product.title }}">
  <div class="card-body">
    <h5 class="card-title">{{ product.title }}</h5>
    <p class="card-text">{{ product.description }}</p>
    <h5 class="card-title">{{ product.price }}</h5>
  </div>
</div>
-->
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.planwallpaper.com%2Fstatic%2Fimages%2Fmagic-of-blue-universe-images.jpg&f=1" alt="Product Title">
  <div class="card-body">
    <h5 class="card-title">Product Title</h5>
    <p class="card-text">Lorem ipsum dolor sit amet...</p>
    <h5 class="card-title">€200</h5>
  </div>
</div>
