<div class="row">
    <div class="col-md-4">
        <!-- Product title -->
        <h1 id="productTitle">Product Title</h1>
    </div>
</div>

<!-- Row for spacing -->
<div class="row spacingRow"></div>

<div class="row">
    <div class="col-md-4">
        <!-- Product image -->
        <img id="productImg" src="https://www.planwallpaper.com/static/images/magic-of-blue-universe-images.jpg" />
    </div>
    <div class="col-md-8">
        <!-- "Add to Basket" form controls -->
        <form>
            <div class="form-group">
                <h1>CONFORM OBEY CONSUME</h1>
                <label for="basketQty">Quantity in basket</label>
                <!-- TODO: Change "value" to amount in user's basket -->
                <!-- TODO: Change "max" to qty of product in stock -->
                <input id="basketQty" name="basketQty" type="number" min=0 max=100 value=23 /> 
            </div>
        </form>
    </div>
</div>

<!-- Row for spacing -->
<div class="row spacingRow"></div>

<div class="row">
    <div class="col-md-12">
        <!-- Product description -->
        <p>Product description... contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
    </div>
</div>
