<div class="row">
    <div class="col-md-4">
        <!-- Product title -->
        <h1 id="productTitle">{{ product.productTitle }}</h1>
    </div>
</div>

<!-- Row for spacing -->
<div class="row spacingRow"></div>

<div class="row">
    <div class="col-md-4">
        <!-- Product image -->
        <img id="productImg" src="{{ product.productImg }}" />
    </div>
    <div class="col-md-8">
        <!-- "Add to Basket" form controls -->
        <form>
            <div class="form-group">
                <label for="basketQty">Quantity in basket</label>
                <!-- TODO: Change "value" to amount in user's basket -->
                <!-- TODO: Change "max" to qty of product in stock -->
                <input id="basketQty" name="basketQty" type="number" min=0 max=100 value=23 /> 
            </div>
        </form>
    </div>
</div>

<!-- Row for spacing -->
<div class="row spacingRow"></div>

<div class="row">
    <div class="col-md-12">
        <!-- Product description -->
        <p>{{ product.productDescription }}</p>
    </div>
</div>
