* {
    margin: 0;
    padding-left: 10px;
}

#productTitle {
    padding-top: 10px;
}

label {
    padding-right: 10px;
}

.spacingRow {
    height: 25px;
}

#productImg {
    width: 100%;
    height: 100%;
}
