<!-- Full-width section containing filtering/sorting options -->
<!-- 
<section id="cover">
    <div id="cover-caption">
        <div id="container" class="container">
        </div>
    </div>
</section>
-->

<div class="row">

<!-- Card deck containing product cards -->
<!-- Just test dummies for now, will eventually be loop of data from db -->
<div id="productsDeck" class="card-deck justify-content-center">
    <app-product-card></app-product-card>
    <app-product-card></app-product-card>
    <app-product-card></app-product-card>
    <app-product-card></app-product-card>
    <app-product-card></app-product-card>
    <app-product-card></app-product-card>
    <app-product-card></app-product-card>
    <app-product-card></app-product-card>
    <app-product-card></app-product-card>
    <app-product-card></app-product-card>
    <app-product-card></app-product-card>
</div>
</div>
