/* Layout options for the "deck" that displays product cards*/
#productsDeck {
    margin-top: 20px; /* Stops it from hugging the filter control bar */
    width: 100%; /* Stops it from going over width and causing the page to scroll horizontally */
}

#noProductsWarning {
	margin-top: 10px;
}