
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="row">
            <h3 id="tncHeader">Terms and Conditions of Use</h3>
        </div>
        <div class="row">
            <h5 class="text-secondary">By signing up to Swirl Theory, you agree to abide by the terms and conditions lain forth in this document</h5>
        </div>
        <div class="row">
            <p>Swirl Theory Inc. reserves the rights to:</p>
        </div>
        <div class="row">
            <ul>
                <li>Retain,</li>
                <li>Sell,</li>
                <li>Trap,</li>
                <li>Snoop,</li>
                <li>Harass,</li>
                <li>Boggle at,</li>
                <li>Entangle, or</li>
                <li>Critique</li>
            </ul>
        </div>
        <div class="row">
            <p>any data you choose to share with us. This violates your statutory rights.</p>
        </div>
    </div>
</div>
