<nav id="navigator" class="navbar navbar-expand-lg">
    <!-- Icon and name on the far left, links back to the homepage -->
    <a class="navbar-brand" routerLink="/">
        <img id="navbarIcon" src="assets/swirl.png" alt="Swirl Theory Icon" />
        Swirl Theory
    </a>
    <!-- Button which expands/collapses the menu dropdown on smaller-width screens -->
    <button id="navbarExpandBtn" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-ellipsis-h"></span>
    </button>
    <!-- The collapsible navbar content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar list (on far left) -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="products">
                    Products
                </a>
            </li>
            <!-- Display Register/Login only if we're not logged in -->
            <!-- Login page link -->
            <li *ngIf="account.loginRequired" class="nav-item">
                <a class="nav-link" routerLink="login">
                    Login
                </a>
            </li>
            <!-- Register page link -->
            <li *ngIf="account.loginRequired" class="nav-item">
                <a class="nav-link" routerLink="register">
                    Register
                </a>
            </li>
            <!-- Cart, also only displayed when logged in -->
            <li *ngIf="account.loginRequired" class="nav-item">
                <a routerLink="basket">
                    Basket
                </a>
            </li>
            <!-- Display "logout" only if we *are* logged in -->
            <li *ngIf="!account.loginRequired" class="nav-item">
                <a class="nav-link" (click)="logout()">
                    Logout
                </a>
            </li>
            <!-- Dropdown example -->
            <!--
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            -->
        </ul>
        <!-- Search form (on far right) -->
        <form class="form-inline my-2 my-lg-0">
            <input id="searchBoxNav" class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="Search">
            <button id="searchBtnNav" class="btn btn-default my-2 my-sm-0" type="submit">
                <span class="sr-only">Search</span>
                <span id="searchIconNav" class="fa fa-search"></span>
            </button>
        </form>
    </div>
</nav>
